form label {
  letter-spacing: 1.2px;
  font-size: 1rem;
  font-weight: 600;
}

form input {
  display: block;
  border-radius: 6px;
  padding: 12px 35px;
  border: 1px solid rgb(207, 207, 207);
  outline: none;
  margin: 8px 0;
}
